.banner {
    margin-left: 2%;
    margin-right: 2%;
}

.banner img {   
    height: 20rem;
    width: 100%;
}

.mobile-banner{
    display: none;
}

.carnivor {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    margin-top: 2%;
    margin-left: 2%;
    margin-right: 2%;
    font-size: 1.5rem;
    align-items: center;
    justify-items: center; 
    text-align: center;   
}

.carnivor img{
    width: 15rem;
    height: 15rem; 
    border-radius: 15%;
}

.type-of-flowers {
    width: 20rem;
    height: 20rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--colorPaleOrange); 
    border-radius: 15%;
    box-shadow: 8px 10px 10px 1px rgba(0,0,0,0.5);  
}

button {
    padding: 0.8rem;
    background-color: var(--colorOrange);
    border-radius: 1.3rem;
    box-shadow: 8px 10px 10px 1px rgba(0,0,0,0.5);
    color: var(--colorWhite);
    font-size: 1rem;
}
.quantity-buttons {
    background-color: var(--colorPaleGray);
    width: 11rem;
    margin-inline: 10rem;
    margin-bottom: 0.7rem;
    margin-top: 00.5rem;
    
}
input {
    text-align: center;
}
.quantity-button {
    padding: 0.5rem;
    border-radius: 0.5rem;
    color: var(--colorOrange);
    background-color: var(--colorPaleGray);
    border: 1px;
    font-size: 1rem;
    box-shadow: none;

}

.hydroponic {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    margin: 2%;
    font-size: 1.5rem;
    align-items: center;
    justify-items: center;
    text-align: center;   
}

.hydroponic img {
    width: 15rem;
    height: 15rem; 
    border-radius: 15%;
}
