.main-shopping-cart{
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    column-gap: 10rem; 
    margin: 1.25rem 2.5rem;
}

h3.shopping-car-headings{
    border: 0.1rem solid var(--colorBlack);
    border-radius: 3rem;
    padding: 0.5rem 5rem;
    text-align: center;
    margin-bottom: 1rem;
    font-size: 2.6rem;
    box-shadow: 0.5rem 0.5rem 0.5rem gray;
}

.box-background{
    background-color: var(--colorPaleOrange);
    border-radius: 2rem;
    padding: 3rem 5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 2.2rem;
    align-items: center;
    margin-bottom: 2rem;
    }

button.modify-button,.buy-now{
    padding: 0.5rem 2rem;
    border-radius: 5rem;
    font-size: 1.5rem;
    color: var(--colorWhite);
}

.payment-form{
    display: flex;
    flex-direction: column;
    margin-bottom: 5rem;
    align-items: stretch;
        
}

.empty-car {
    background-color: var(--colorDarkGray);
    padding: 0.5rem 2rem;
    border-radius: 5rem;
    font-size: 1.5rem;
}

.total-price {

    font-size: 2rem;
    font-weight: bold;
}

.price {
    margin-left: 1rem;

}

.buttons {
    display: flex;
    flex-direction: column;
    gap: 1rem;

}

a.keep-buying {
    color: var(--colorOrange);
    font-weight: bold;
    font-size: 2rem;
    padding-bottom: 5rem;
    text-decoration: none;
}

a i{
    color: var(--colorBlack);
}

.payment-img{
    width: 15%; 
    
}

.continer{
    height: 60%;

}

th, td{
    padding: 0.1rem 7rem;
    font-size: 2rem;
}

th{
    padding: ;
}

td img{
    width: 7rem;
    height: 7rem;
}
